/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* Global Theme Variables */
:root {
  --background: #ffffff;
  --foreground: #fffcfc;
  --font-main: "Roboto", sans-serif;
}

/* Set Tailwind Font */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-main);
  --font-mono: var(--font-main);
}

/* Dark Mode Auto */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff0f0;
    --foreground: #ededed;
  }
}

/* Apply Font Globally */
body {
  font-family: var(--font-main);
  background: var(--background);
  color: var(--foreground);
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  -webkit-font-smoothing: antialiased;
}

/* ========== FORM INPUTS ========== */

.input, .textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  background: #f9f9f9;
  font-size: 15px;
  color: #000;
  transition: all 0.2s ease;
  font-family: var(--font-main);
}
.textarea{
  color: #000;
  font-size:
}
/* Hover */
.input:hover, .textarea:hover {
  border-color: #8a8a8a;
}

/* Placeholder */
.input::placeholder,
.textarea::placeholder {
  color: #666;
  opacity: 1;
  font-family: var(--font-main);
}

/* Focus */
.input:focus,
.textarea:focus {
  border-color: #ae5c83;
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px rgba(174, 92, 131, 0.25);
}

/* Remove scrollbar for mobile tabs */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Smooth scroll */
.scroll-smooth {
  scroll-behavior: smooth;
}

/* Labels */
.label {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 6px;
  font-family: var(--font-main);
}

/* ========== BUTTONS ========== */

.btn-primary {
  background: #ae5c83;
  padding: 10px 18px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: 0.25s ease;
  font-family: var(--font-main);
}

.btn-primary:hover {
  background: #8f3e66;
}

/* ========== RADIOS & FILES ========== */

input[type="radio"] {
  accent-color: #ae5c83;
  cursor: pointer;
  border:1px solid gray;

}

/* File Upload Styling */
input[type="file"]::-webkit-file-upload-button {
  background: #ae5c83;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

input[type="file"] {
  display: none;
}
